* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto;
}

body {
  background-color: #0a3871;
}
body.ultra__wide .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #e5e5e5;
}
body.ultra__wide .main .encrypt {
  width: 50%;
  width: 93%;
  margin: 0em 1em 0em 1em;
}
body.ultra__wide .main .encrypt .encrypt__tittle {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
body.ultra__wide .main .encrypt .encrypt__tittle p {
  color: #0a3871;
  font-size: 4em;
  font-weight: bold;
  padding-bottom: 0.5em;
}
body.ultra__wide .main .encrypt .encrypt__home .encrypt__text {
  padding: 2em 0;
}
body.ultra__wide .main .encrypt .encrypt__home .encrypt__text .encrypt__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 15em;
}
body.ultra__wide .main .encrypt .encrypt__home .encrypt__text .encrypt__input textarea {
  width: 100%;
  height: 100%;
  resize: none;
  overflow: auto;
  background-color: #e5e5e5;
  border: none;
  outline: none;
  font-size: 30px;
  color: #0a3871;
  flex: 1;
  height: auto;
}
body.ultra__wide .main .encrypt .encrypt__home .encrypt__text .encrypt__input textarea::-moz-placeholder {
  font-size: 2rem;
  color: #0a3871;
}
body.ultra__wide .main .encrypt .encrypt__home .encrypt__text .encrypt__input textarea::placeholder {
  font-size: 2rem;
  color: #0a3871;
}
body.ultra__wide .main .encrypt .encrypt__home .btn .btn__adverted {
  font-size: 0.8rem;
  color: #67808e;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
body.ultra__wide .main .encrypt .encrypt__home .btn .btn__principal {
  padding: 1.5em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
body.ultra__wide .main .encrypt .encrypt__home .btn .btn__principal #btn__encrypt {
  color: #e5e5e5;
  background-color: #0a3871;
  font-size: 1rem;
  padding: 1.4rem 8.5rem;
  border-radius: 1.5em;
  border: 2px solid #0a3871;
  outline: none;
  cursor: pointer;
}
body.ultra__wide .main .encrypt .encrypt__home .btn .btn__principal #btn__decrypt {
  color: #0a3871;
  background-color: #e5e5e5;
  font-size: 1rem;
  padding: 1.4rem 7.8rem;
  border-radius: 1.5em;
  border: 2px solid #0a3871;
  outline: none;
  cursor: pointer;
}
body.ultra__wide .main .descrypt {
  width: 93%;
  margin: 0em 1em 0em 1em;
  padding-bottom: 1.5em;
  padding: 2em 0;
  text-align: center;
}
body.ultra__wide .main .descrypt .descrypt__area {
  background-color: white;
  height: 26em;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
body.ultra__wide .main .descrypt .descrypt__area #nohidden {
  color: #67808e;
  padding: 0 3em;
}
body.ultra__wide .main .descrypt .descrypt__area #nohidden h2 {
  padding-bottom: 1.5rem;
}
body.ultra__wide .main .descrypt .descrypt__area #nohidden p {
  font-size: 1rem;
}
body.ultra__wide .main .descrypt .descrypt__area .hidden {
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
}
body.ultra__wide .main .descrypt .descrypt__area .hidden .decrypt__input {
  height: 20em;
  border: none;
}
body.ultra__wide .main .descrypt .descrypt__area .hidden .decrypt__input textarea {
  height: 100%;
  width: 100%;
  padding: 20px;
  border: none;
  font-size: 25px;
  outline: none;
  resize: none;
  color: #67808e;
}
body.ultra__wide .main .descrypt .descrypt__area .hidden .decrypt__input textarea::-moz-placeholder {
  font-size: 2rem;
  color: #0a3871;
}
body.ultra__wide .main .descrypt .descrypt__area .hidden .decrypt__input textarea::placeholder {
  font-size: 2rem;
  color: #0a3871;
}
body.ultra__wide .main .descrypt .descrypt__area .hidden #decrypt__copy {
  margin-top: auto;
  color: #0a3871;
  background-color: white;
  font-size: 1rem;
  padding: 1.4rem 7rem;
  border-radius: 1.5em;
  border: 2px solid #0a3871;
  outline: none;
  cursor: pointer;
  border: 1px solid #0a3871;
}

@media (max-width: 768px) {
  .img__hide {
    display: none;
  }
}
@media (min-width: 1200px) {
  body.ultra__wide .main {
    display: flex;
    flex-wrap: nowrap;
  }
  body.ultra__wide .main .encrypt {
    height: 100vh;
  }
  body.ultra__wide .main .encrypt .encrypt__input {
    height: 60vh;
    padding-left: 15%;
  }
  body.ultra__wide .main .encrypt .encrypt__home .btn {
    padding-left: 15%;
  }
  body.ultra__wide .main .encrypt .encrypt__home .btn .btn__principal {
    justify-content: flex-start;
  }
  body.ultra__wide .main .encrypt .encrypt__home .btn .btn__principal #btn__encrypt {
    display: flex;
    justify-content: center;
    width: 289px;
  }
  body.ultra__wide .main .encrypt .encrypt__home .btn .btn__principal #btn__decrypt {
    display: flex;
    justify-content: center;
    width: 289px;
  }
  body.ultra__wide .main .descrypt {
    width: 50%;
    height: 100vh;
    position: relative;
    right: 20px;
  }
  body.ultra__wide .main .descrypt .descrypt__area {
    height: 100%;
  }
  body.ultra__wide .main .descrypt .descrypt__area .hidden .decrypt__input {
    height: 86%;
  }
  body.ultra__wide .main .descrypt .descrypt__area .hidden .decrypt__input textarea {
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */