@import "variables";
@import "mixin";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto;
}

body {
  background-color: $secondarycolor;
  &.ultra__wide {
    .main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 1440px;
      margin: 0 auto;
      background-color: $primarycolor;
      .encrypt {
        @include centrador();
        .encrypt__tittle {
          p {
            color: $secondarycolor;
            font-size: 4em;
            font-weight: bold;
            padding-bottom: 0.8em;
          }
        }
        .encrypt__home {
          .encrypt__text {
            .encrypt__input {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 20em;
              textarea {
                @include textarea($primarycolor);
              }
            }
          }
        }
      }
      .descrypt {
        @include centrador();
        padding-bottom: 1.5em;
        .hidden {
          display: none;
        }
      }
    }
  }
}

// pendientes de ordenar
// MEDIAS QUERIES
// agregar media queries
@media (max-width: 768px) {
  .img__hide {
    display: none;
  }
}
